/*started template for all the pages*/

.padding {
    background: #FEFEFA;
    color: black;
    overflow-x: hidden;
}

.header {
    background: -webkit-linear-gradient(#9C27B0, #00BCD4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.logo {
    float: left;
    opacity: 0.7;
}

.img {
    border-radius: 50%;
    width: 23%;
    margin-top: -1%;
}

.buttons {
    float: right;
    margin-top: -6%;
    margin-left: 2%;
    padding: 0% 6%;
    font-size: 20px;
}

.button {
    background: #00BCD4;
    border: none;
    color: white;
    margin: 5px;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.runner {
    padding: 0.5% 0%;
    background: blue;
    /* For browsers that do not support gradients */
    background: linear-gradient(to right, #9C27B0, #673AB7, #3F51B5, #00BCD4);
}

footer {
    /*position: fixed !important;*/
    right: 0%;
    bottom: 0;
    height: auto;
    left: 0%;
    width: 100%;
    padding: 1%;
    background: #00BCD4;
    text-align: center;
    visibility: visible;
    clear: both;
}


/*login.html classes*/

.asideclass {
    float: right;
    display: inline;
    width: 35%;
}
.contents {
    height: 100%;
    margin-bottom: 40%;
}


aside div {
    margin: 15px;
}

.info {
    text-align: left;
    margin-left: 30%;
    margin-top: 5%;
    padding: 0px;
}


/*home.html*/
.imagenav{
	display: inline;
	list-style-type: circle;
	position: bottom;
}

/*signup.html*/
.signup{
	padding:5%;
}
.signup aside{
	width:35%;
	float:right;
	margin-bottom: 10%;
	padding: 2%;
}
.signup .textbox{
	width: 105%;
	font-size: 16px;


}
.signup fieldset{
	border-radius: 10%;
	border-color: #00BCD4;
	background-color: white;
	color:#1565c0;
	font-size: 100%;
}

.signup fieldset button{
	   background: #00BCD4;
    border: none;
    color: white;
    margin: 5px;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10%;
}

.main{
	/*margin-top: 45%;*/
	vertical-align: center;
	float:left;
	width: 55%;
}

.main div{
	margin-top: 50%;
}
